$sp: 500px;
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
$mainColor: rgb(2, 11, 85);
html {
  font-size: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Noto Serif JP", serif;
  letter-spacing: 0.1em;
  color: $mainColor;
  @include sp {
    overflow-x: hidden;
  }
}
.pc-only {
  display: block;
  @include sp {
    display: none;
  }
}
.sp-only {
  display: none;
  @include sp {
    display: block;
  }
}
.inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 30px;
  @include sp {
    width: 95%;
    padding: 40px 5px;
  }
}
.logo {
  width: 100px;
}
.col-2 {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 80px 40px;
    @include sp {
      flex-direction: column;
      padding: 0;
    }
  }
}
.main-column {
  max-width: 980px;
  @include sp {
    padding: 10% 0 0;
    width: 100%;
  }
  &__cta {
    text-align: center;
  }
  &__ttl {
    position: relative;
    display: inline-block;
    padding: 0px 0 5px;
    font-weight: 800;
    font-size: 32px;
    line-height: 1.4;
    letter-spacing: 0.04em;
    color: rgb(1, 11, 114);
    text-align: center;
    z-index: 2;
    @include sp {
      font-size: 24px;
    }
  }
  &__btn {
    display: block;
    margin: 10px auto 20px;
    padding: 16px 70px;
    width: 340px;
    position: relative;
    background: $mainColor;
    color: #fff;
    box-shadow: 0px 0px 10px rgb(176, 176, 177);
    font-weight: 800;
    font-size: 16px;
    border-radius: 50px;
    transition: 0.5s;
    @include sp {
      margin: 2% auto;
      padding: 4%;
      width: 90%;
    }
    &::before,
    &::after {
      content: "";
      display: inline-block;
      height: 1px;
      background: #fff;
      position: absolute;
      transition: 0.5s;
    }
    &::before {
      width: 30px;
      top: 30px;
      right: 40px;
      @include sp {
        right: 10%;
      }
    }
    &::after {
      content: "";
      width: 10px;
      top: 26px;
      right: 38px;
      transform: rotate(45deg);
      @include sp {
        right: 10%;
      }
    }
    &:hover,
    &:focus {
      background: #fff;
      color: $mainColor;
      transition: 0.5s;
      &::before,
      &::after {
        right: 30px;
        background: $mainColor;
        transition: 0.5s;
        @include sp {
          right: 12%;
        }
      }
    }
  }
}
.mv {
  background: #ccc;
  .page-ttl {
    font-size: 40px;
    color: #fff;
  }
}
.sec-ttl {
  display: inline-block;
  background: linear-gradient(-45deg, #d6aaee, #969fed);
  background: -webkit-linear-gradient(0deg, #d6aaee, #969fed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script", cursive;
  font-weight: 900;
  font-size: 70px;
  position: relative;
  @include sp {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
  }
  &:after {
    content: "";
    display: inline-block;
    width: 500px;
    height: 1px;
    background: linear-gradient(0deg, #cd98ea, #6b78f3);
    position: absolute;
    top: 55%;
    left: 220px;
    box-shadow: 0 0 10px #cd98ea;
    @include sp {
      display: none;
    }
  }
}
.eyecatch {
  background: url(../images/mv_pc02.png) no-repeat top/cover;
  @include sp {
    background: url(../images/mv_pc02.png) no-repeat 70% / cover;
  }
  &__inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 40px;
    @include sp {
      width: 90%;
      padding: 10% 0;
    }
  }
  &__ttl {
    width: 820px;
    font-weight: 800;
    font-size: 28px;
    line-height: 2;
    color: $mainColor;
    &-mask {
      background: #fff;
      padding: 2px 10px;
      @include sp {
        padding: 2px 0;
        line-height: 1.4;
      }
    }
    @include sp {
      margin: 30% 0 0;
      width: 100%;
      font-size: 18px;
    }
  }
  &__btn {
    display: inline-block;
    margin: 30px 0 0 20px;
    padding: 20px 100px;
    position: relative;
    background: $mainColor;
    color: #fff;
    box-shadow: 5px 5px 20px rgb(82, 81, 86);
    font-weight: 800;
    border-radius: 50px;
    transition: 0.5s;
    @include sp {
      margin: 4% auto 0;
      padding: 4% 12% 4% 8%;
      font-size: 14px;
    }
    &::before,
    &::after {
      content: "";
      display: inline-block;
      height: 1px;
      background: #fff;
      position: absolute;
      transition: 0.5s;
    }
    &::before {
      width: 30px;
      top: 34px;
      right: 40px;
      @include sp {
        width: 20px;
        top: 58%;
        right: 5%;
      }
    }
    &::after {
      width: 10px;
      top: 30px;
      right: 38px;
      transform: rotate(45deg);
      @include sp {
        top: 50%;
        right: 5%;
      }
    }
    &:hover,
    &:focus {
      background: #fff;
      color: $mainColor;
      transition: 0.5s;
      &::before,
      &::after {
        right: 30px;
        background: $mainColor;
        transition: 0.5s;
      }
    }
  }
}
.card {
  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 80px 0 0 0;
    @include sp {
      flex-direction: column;
      margin: 8% 0 0;
    }
  }
  &__item {
    margin: 0 20px 0 0;
    width: 260px;
    @include sp {
      width: 95%;
      margin: 8% 0 0;
      &:first-child {
        margin: 0 0 0;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__img {
    background: #e7e7e7;
    height: 160px;
    @include sp {
      width: 100%;
      height: 200px;
    }
  }
  &__txt {
    margin: 12px 0 0 0;
    font-weight: 700;
    text-align: center;
  }
}
