$sp: 500px;
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
$mainColor: rgb(2, 11, 85);
html {
  font-size: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Noto Serif JP", serif;
  letter-spacing: 0.1em;
  color: $mainColor;
}
.pc-only {
  display: block;
  @include sp {
    display: none;
  }
}
.sp-only {
  display: none;
  @include sp {
    display: block;
  }
}
.inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 30px;
}
.logo {
  width: 100px;
}
.col-2 {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 80px 40px;
  }
}
.main-column {
  max-width: 980px;
}
.mv {
  background: #ccc;
  .page-ttl {
    font-size: 40px;
    color: #fff;
  }
}
.sec-ttl {
  display: inline-block;
  background: linear-gradient(-45deg, #d6aaee, #969fed);
  background: -webkit-linear-gradient(0deg, #d6aaee, #969fed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script", cursive;
  font-weight: 900;
  font-size: 70px;
  position: relative;
  text-align: center;
  &:after {
    content: "";
    display: inline-block;
    width: 500px;
    height: 1px;
    background: linear-gradient(0deg, #cd98ea, #6b78f3);
    position: absolute;
    top: 55%;
    left: 220px;
    box-shadow: 0 0 10px #cd98ea;
  }
}
.col-2 {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 80px 40px;
  }
}
main {
  // background: linear-gradient(5deg, rgb(172, 189, 244), rgb(240, 224, 247));
}
.main-column {
  max-width: 980px;
}
.eyecatch {
  background: url(../images/mv_pc02.png) no-repeat top/cover;
  &__inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 40px;
  }
  &__ttl {
    width: 820px;
    font-weight: 800;
    font-size: 28px;
    line-height: 2;
    color: $mainColor;
    &-mask {
      padding: 5px 4px;
      background: #fff;
    }
  }
  &__btn {
    display: inline-block;
    margin: 30px 0 0 20px;
    padding: 20px 100px;
    position: relative;
    background: $mainColor;
    color: #fff;
    box-shadow: 5px 5px 20px rgb(82, 81, 86);
    font-weight: 800;
    border-radius: 50px;
    transition: 0.5s;
    &::before,
    &::after {
      content: "";
      display: inline-block;
      height: 1px;
      background: #fff;
      position: absolute;
      transition: 0.5s;
    }
    &::before {
      width: 30px;
      top: 34px;
      right: 40px;
    }
    &::after {
      content: "";
      width: 10px;
      top: 30px;
      right: 38px;
      transform: rotate(45deg);
    }
    &:hover,
    &:focus {
      background: #fff;
      color: $mainColor;
      transition: 0.5s;
      &::before,
      &::after {
        right: 30px;
        background: $mainColor;
        transition: 0.5s;
      }
    }
  }
}
.card {
  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 80px 0 0 0;
  }
  &__item {
    margin: 0 20px 0 0;
    width: 260px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__img {
    background: #e7e7e7;
    height: 160px;
  }
  &__txt {
    margin: 12px 0 0 0;
    font-weight: 700;
    text-align: center;
  }
}
