@charset 'UTF-8';

@import "_particle/header";
@import "_particle/sidebar";
@import "_particle/post";
@import "_particle/footer";
$mainColor: rgb(2, 11, 85);

.contact-page {
  .col-2__inner {
    padding: 80px 40px 40px;
  }
  .sec-ttl {
    background: linear-gradient(-45deg, #d6aaee, #969fed);
    background: -webkit-linear-gradient(0deg, #d6aaee, #969fed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    display: inline-block;
    padding: 10px;
    &::after {
      display: none;
    }
  }
  .mv {
    background: url(../images/mv_pc02.png) no-repeat center/cover;
    &__inner {
      padding: 220px 40px;
    }
    .page-ttl {
      position: relative;
      display: inline-block;
      padding: 2px 10px;
      font-weight: 800;
      font-size: 48px;
      background: #fff;
      color: $mainColor;
      z-index: 2;
    }
  }
  .main__column {
    width: 980px;
    margin: 0 auto;
  }
  .contact__inner {
    padding: 0 40px;
  }
  .contact {
    text-align: center;
    .sec-ttl {
      font-size: 52px;
      padding: 10px;
      text-align: center;
      &::after {
        display: none;
      }
    }
    &__area {
      margin: 40px 0 0;
    }
    .field-wrap {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 4px 0;
      &:last-child {
        align-items: flex-start;
        .contact__label {
          margin: 10px 0 0;
        }
      }
    }
    &__label {
      width: 180px;
      text-align: left;
    }
    &__name,
    &__mail,
    &__textarea {
      padding: 14px 5px;
      border: 1px solid #e7e7e7;
      border-radius: 5px;
      text-align: left;
    }
    &__name,
    &__mail,
    &__textarea {
      width: 600px;
    }
    &__textarea {
      min-height: 200px;
    }
    &__btn {
      margin: 60px 140px 0;
      padding: 14px 120px;
      min-width: 280px;
      background: $mainColor;
      color: #fff;
      border-radius: 5px;
      letter-spacing: 0.02em;
    }
  }
}
