@charset 'UTF-8';

@import "base/variable";
@import "page/header";
@import "page/side-bar";
@import "page/post";
@import "page/footer";

.logo {
  width: 10%;
}
.home {
  .mv {
    background: url(../images/mv_pc.png) no-repeat center/cover;
    height: 75vh;
  }
}

.col-2 {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 4%;
    width: 100%;
  }
}
.main-column {
  width: 70%;
  .feature {
    &__ttl {
      font-weight: 700;
      font-size: 30px;
      text-align: center;
    }
    &__txt {
      margin: 3% auto 0;
      width: 75%;
      text-align: center;
      font-size: 20px;
      line-height: 2;
    }
    &__list-ttl {
      margin: 8% 0 0;
      padding: 2% 0;
      font-size: 700;
      font-size: 24px;
      text-align: center;
      background: linear-gradient(180deg, #110789 50% 50%, #1a1272 50% 50%);
      color: #fff;
    }
    &__list {
      margin: 3% auto 0;
      width: 85%;
    }
    &__item {
      font-size: 16px;
      line-height: 2;
      list-style: disc;
    }
  }
}

.merit {
  .sec-ttl {
    font-weight: 900;
    font-size: 32px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin: 4% 0 0;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8% 0 0;
    &:first-child {
      margin-top: 0;
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
  &__text-area {
    width: 65%;
  }
  &__ttl-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__ttl {
    margin: 0 0 0 2%;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.01em;
  }
  &__num {
    width: 10%;
  }
  &__txt {
    margin: 2% 0 0;
    line-height: 2;
  }
  &__img-wrap {
    width: 30%;
    height: 160px;
    background: linear-gradient(-45deg, #eed3fd, #d7dbfc);
  }
}
.blog {
  margin: 8% 0 0 0;
  .sec-ttl {
    font-weight: 900;
    font-size: 32px;
  }
  &__list {
    margin: 4% 0 0 0;
  }
  &__btn-area {
    margin: 6% 0 0 0;
    text-align: center;
  }
  &__btn {
    padding: 1% 8%;
    border: 1px solid #dfdcdc;
    border-radius: 5px;
    .arrow {
      position: relative;
      left: 45px;
      width: 40px;
      height: 20px;
      &::before {
        position: absolute;
        top: 60%;
        right: 0;
        content: "";
        display: inline-block;
        width: 30px;
        height: 1px;
        background: #dfdcdc;
      }
      &::after {
        position: absolute;
        top: 41%;
        right: 0;
        content: "";
        display: inline-block;
        width: 10px;
        height: 1px;
        transform: rotate(45deg);
        background: #dfdcdc;
      }
    }
  }
}
