html { font-size: 100%; }

img { max-width: 100%; height: auto; }

body { font-family: "Noto Serif JP", serif; letter-spacing: 0.1em; color: #020b55; }

@media (max-width: 500px) { body { overflow-x: hidden; } }

.pc-only { display: block; }

@media (max-width: 500px) { .pc-only { display: none; } }

.sp-only { display: none; }

@media (max-width: 500px) { .sp-only { display: block; } }

.inner { max-width: 1280px; margin: 0 auto; padding: 80px 30px; }

@media (max-width: 500px) { .inner { width: 95%; padding: 40px 5px; } }

.logo { width: 100px; }

.col-2__inner { display: flex; justify-content: space-between; padding: 80px 40px; }

@media (max-width: 500px) { .col-2__inner { flex-direction: column; padding: 0; } }

.main-column { max-width: 980px; }

@media (max-width: 500px) { .main-column { padding: 10% 0 0; width: 100%; } }

.main-column__cta { text-align: center; }

.main-column__ttl { position: relative; display: inline-block; padding: 0px 0 5px; font-weight: 800; font-size: 32px; line-height: 1.4; letter-spacing: 0.04em; color: #010b72; text-align: center; z-index: 2; }

@media (max-width: 500px) { .main-column__ttl { font-size: 24px; } }

.main-column__btn { display: block; margin: 10px auto 20px; padding: 16px 70px; width: 340px; position: relative; background: #020b55; color: #fff; box-shadow: 0px 0px 10px #b0b0b1; font-weight: 800; font-size: 16px; border-radius: 50px; transition: 0.5s; }

@media (max-width: 500px) { .main-column__btn { margin: 2% auto; padding: 4%; width: 90%; } }

.main-column__btn::before, .main-column__btn::after { content: ""; display: inline-block; height: 1px; background: #fff; position: absolute; transition: 0.5s; }

.main-column__btn::before { width: 30px; top: 30px; right: 40px; }

@media (max-width: 500px) { .main-column__btn::before { right: 10%; } }

.main-column__btn::after { content: ""; width: 10px; top: 26px; right: 38px; transform: rotate(45deg); }

@media (max-width: 500px) { .main-column__btn::after { right: 10%; } }

.main-column__btn:hover, .main-column__btn:focus { background: #fff; color: #020b55; transition: 0.5s; }

.main-column__btn:hover::before, .main-column__btn:hover::after, .main-column__btn:focus::before, .main-column__btn:focus::after { right: 30px; background: #020b55; transition: 0.5s; }

@media (max-width: 500px) { .main-column__btn:hover::before, .main-column__btn:hover::after, .main-column__btn:focus::before, .main-column__btn:focus::after { right: 12%; } }

.mv { background: #ccc; }

.mv .page-ttl { font-size: 40px; color: #fff; }

.sec-ttl { display: inline-block; background: linear-gradient(-45deg, #d6aaee, #969fed); background: -webkit-linear-gradient(0deg, #d6aaee, #969fed); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-family: "Dancing Script", cursive; font-weight: 900; font-size: 70px; position: relative; }

@media (max-width: 500px) { .sec-ttl { position: absolute; left: 50%; transform: translateX(-50%); font-size: 48px; } }

.sec-ttl:after { content: ""; display: inline-block; width: 500px; height: 1px; background: linear-gradient(0deg, #cd98ea, #6b78f3); position: absolute; top: 55%; left: 220px; box-shadow: 0 0 10px #cd98ea; }

@media (max-width: 500px) { .sec-ttl:after { display: none; } }

.eyecatch { background: url(../images/mv_pc02.png) no-repeat top/cover; }

@media (max-width: 500px) { .eyecatch { background: url(../images/mv_pc02.png) no-repeat 70%/cover; } }

.eyecatch__inner { max-width: 1280px; margin: 0 auto; padding: 80px 40px; }

@media (max-width: 500px) { .eyecatch__inner { width: 90%; padding: 10% 0; } }

.eyecatch__ttl { width: 820px; font-weight: 800; font-size: 28px; line-height: 2; color: #020b55; }

.eyecatch__ttl-mask { background: #fff; padding: 2px 10px; }

@media (max-width: 500px) { .eyecatch__ttl-mask { padding: 2px 0; line-height: 1.4; } }

@media (max-width: 500px) { .eyecatch__ttl { margin: 30% 0 0; width: 100%; font-size: 18px; } }

.eyecatch__btn { display: inline-block; margin: 30px 0 0 20px; padding: 20px 100px; position: relative; background: #020b55; color: #fff; box-shadow: 5px 5px 20px #525156; font-weight: 800; border-radius: 50px; transition: 0.5s; }

@media (max-width: 500px) { .eyecatch__btn { margin: 4% auto 0; padding: 4% 12% 4% 8%; font-size: 14px; } }

.eyecatch__btn::before, .eyecatch__btn::after { content: ""; display: inline-block; height: 1px; background: #fff; position: absolute; transition: 0.5s; }

.eyecatch__btn::before { width: 30px; top: 34px; right: 40px; }

@media (max-width: 500px) { .eyecatch__btn::before { width: 20px; top: 58%; right: 5%; } }

.eyecatch__btn::after { width: 10px; top: 30px; right: 38px; transform: rotate(45deg); }

@media (max-width: 500px) { .eyecatch__btn::after { top: 50%; right: 5%; } }

.eyecatch__btn:hover, .eyecatch__btn:focus { background: #fff; color: #020b55; transition: 0.5s; }

.eyecatch__btn:hover::before, .eyecatch__btn:hover::after, .eyecatch__btn:focus::before, .eyecatch__btn:focus::after { right: 30px; background: #020b55; transition: 0.5s; }

.card__list { display: flex; justify-content: flex-start; align-items: center; margin: 80px 0 0 0; }

@media (max-width: 500px) { .card__list { flex-direction: column; margin: 8% 0 0; } }

.card__item { margin: 0 20px 0 0; width: 260px; }

@media (max-width: 500px) { .card__item { width: 95%; margin: 8% 0 0; }
  .card__item:first-child { margin: 0 0 0; } }

.card__item:last-child { margin-right: 0; }

.card__img { background: #e7e7e7; height: 160px; }

@media (max-width: 500px) { .card__img { width: 100%; height: 200px; } }

.card__txt { margin: 12px 0 0 0; font-weight: 700; text-align: center; }

.header { position: fixed; top: 0; width: 100%; transition: 0.5s; z-index: 10; }

.header__inner { display: flex; justify-content: space-between; align-items: center; padding: 16px 50px; }

.header.active { background: #e7e7e7; transition: 0.5s; }

.header.active .g-nav__item { color: #020b55; }

.g-nav { width: 50%; }

@media (max-width: 500px) { .g-nav { display: none; } }

.g-nav__list { display: flex; justify-content: flex-end; width: 100%; }

.g-nav__item { margin: 0 2% 0 0; color: #fff; }

.g-nav__item:last-child { margin-right: 0; }

html { font-size: 100%; }

img { max-width: 100%; height: auto; }

body { font-family: "Noto Serif JP", serif; letter-spacing: 0.1em; color: #020b55; }

@media (max-width: 500px) { body { overflow-x: hidden; } }

.pc-only { display: block; }

@media (max-width: 500px) { .pc-only { display: none; } }

.sp-only { display: none; }

@media (max-width: 500px) { .sp-only { display: block; } }

.inner { max-width: 1280px; margin: 0 auto; padding: 80px 30px; }

@media (max-width: 500px) { .inner { width: 95%; padding: 40px 5px; } }

.logo { width: 100px; }

.col-2__inner { display: flex; justify-content: space-between; padding: 80px 40px; }

@media (max-width: 500px) { .col-2__inner { flex-direction: column; padding: 0; } }

.main-column { max-width: 980px; }

@media (max-width: 500px) { .main-column { padding: 10% 0 0; width: 100%; } }

.main-column__cta { text-align: center; }

.main-column__ttl { position: relative; display: inline-block; padding: 0px 0 5px; font-weight: 800; font-size: 32px; line-height: 1.4; letter-spacing: 0.04em; color: #010b72; text-align: center; z-index: 2; }

@media (max-width: 500px) { .main-column__ttl { font-size: 24px; } }

.main-column__btn { display: block; margin: 10px auto 20px; padding: 16px 70px; width: 340px; position: relative; background: #020b55; color: #fff; box-shadow: 0px 0px 10px #b0b0b1; font-weight: 800; font-size: 16px; border-radius: 50px; transition: 0.5s; }

@media (max-width: 500px) { .main-column__btn { margin: 2% auto; padding: 4%; width: 90%; } }

.main-column__btn::before, .main-column__btn::after { content: ""; display: inline-block; height: 1px; background: #fff; position: absolute; transition: 0.5s; }

.main-column__btn::before { width: 30px; top: 30px; right: 40px; }

@media (max-width: 500px) { .main-column__btn::before { right: 10%; } }

.main-column__btn::after { content: ""; width: 10px; top: 26px; right: 38px; transform: rotate(45deg); }

@media (max-width: 500px) { .main-column__btn::after { right: 10%; } }

.main-column__btn:hover, .main-column__btn:focus { background: #fff; color: #020b55; transition: 0.5s; }

.main-column__btn:hover::before, .main-column__btn:hover::after, .main-column__btn:focus::before, .main-column__btn:focus::after { right: 30px; background: #020b55; transition: 0.5s; }

@media (max-width: 500px) { .main-column__btn:hover::before, .main-column__btn:hover::after, .main-column__btn:focus::before, .main-column__btn:focus::after { right: 12%; } }

.mv { background: #ccc; }

.mv .page-ttl { font-size: 40px; color: #fff; }

.sec-ttl { display: inline-block; background: linear-gradient(-45deg, #d6aaee, #969fed); background: -webkit-linear-gradient(0deg, #d6aaee, #969fed); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-family: "Dancing Script", cursive; font-weight: 900; font-size: 70px; position: relative; }

@media (max-width: 500px) { .sec-ttl { position: absolute; left: 50%; transform: translateX(-50%); font-size: 48px; } }

.sec-ttl:after { content: ""; display: inline-block; width: 500px; height: 1px; background: linear-gradient(0deg, #cd98ea, #6b78f3); position: absolute; top: 55%; left: 220px; box-shadow: 0 0 10px #cd98ea; }

@media (max-width: 500px) { .sec-ttl:after { display: none; } }

.eyecatch { background: url(../images/mv_pc02.png) no-repeat top/cover; }

@media (max-width: 500px) { .eyecatch { background: url(../images/mv_pc02.png) no-repeat 70%/cover; } }

.eyecatch__inner { max-width: 1280px; margin: 0 auto; padding: 80px 40px; }

@media (max-width: 500px) { .eyecatch__inner { width: 90%; padding: 10% 0; } }

.eyecatch__ttl { width: 820px; font-weight: 800; font-size: 28px; line-height: 2; color: #020b55; }

.eyecatch__ttl-mask { background: #fff; padding: 2px 10px; }

@media (max-width: 500px) { .eyecatch__ttl-mask { padding: 2px 0; line-height: 1.4; } }

@media (max-width: 500px) { .eyecatch__ttl { margin: 30% 0 0; width: 100%; font-size: 18px; } }

.eyecatch__btn { display: inline-block; margin: 30px 0 0 20px; padding: 20px 100px; position: relative; background: #020b55; color: #fff; box-shadow: 5px 5px 20px #525156; font-weight: 800; border-radius: 50px; transition: 0.5s; }

@media (max-width: 500px) { .eyecatch__btn { margin: 4% auto 0; padding: 4% 12% 4% 8%; font-size: 14px; } }

.eyecatch__btn::before, .eyecatch__btn::after { content: ""; display: inline-block; height: 1px; background: #fff; position: absolute; transition: 0.5s; }

.eyecatch__btn::before { width: 30px; top: 34px; right: 40px; }

@media (max-width: 500px) { .eyecatch__btn::before { width: 20px; top: 58%; right: 5%; } }

.eyecatch__btn::after { width: 10px; top: 30px; right: 38px; transform: rotate(45deg); }

@media (max-width: 500px) { .eyecatch__btn::after { top: 50%; right: 5%; } }

.eyecatch__btn:hover, .eyecatch__btn:focus { background: #fff; color: #020b55; transition: 0.5s; }

.eyecatch__btn:hover::before, .eyecatch__btn:hover::after, .eyecatch__btn:focus::before, .eyecatch__btn:focus::after { right: 30px; background: #020b55; transition: 0.5s; }

.card__list { display: flex; justify-content: flex-start; align-items: center; margin: 80px 0 0 0; }

@media (max-width: 500px) { .card__list { flex-direction: column; margin: 8% 0 0; } }

.card__item { margin: 0 20px 0 0; width: 260px; }

@media (max-width: 500px) { .card__item { width: 95%; margin: 8% 0 0; }
  .card__item:first-child { margin: 0 0 0; } }

.card__item:last-child { margin-right: 0; }

.card__img { background: #e7e7e7; height: 160px; }

@media (max-width: 500px) { .card__img { width: 100%; height: 200px; } }

.card__txt { margin: 12px 0 0 0; font-weight: 700; text-align: center; }

.side-bar { max-width: 300px; }

@media (max-width: 500px) { .side-bar { max-width: 95%; margin: 0 auto; padding: 0 0 10% 0; } }

.side-bar .profile { padding: 40px 20px; background: #fff; border-radius: 10px; box-shadow: 2px 2px 10px #e7e7e7; }

@media (max-width: 500px) { .side-bar .profile { width: 100%; padding: 10% 5%; } }

.side-bar .profile__img-wrap { width: 200px; height: 200px; margin: 0 auto; }

.side-bar .profile__thumnail { border-radius: 100px; }

.side-bar .profile__text-area { text-align: center; }

.side-bar .profile__ttl { margin: 30px 0 0 0; font-weight: 700; font-size: 24px; }

.side-bar .profile__lead { margin: 10px 0 0 0; }

.side-bar .profile__txt { margin: 30px 0 0 0; line-height: 1.7; text-align: left; }

.side-bar .profile-btn-area { margin: 40px auto 0; text-align: center; }

.side-bar .profile-btn { padding: 8px 20px; background: #051276; color: #fff; border-radius: 5px; }

.side-bar .profile .sns-logo { position: relative; margin: 40px auto 0; width: 24px; }

.side-bar .profile .sns-logo::before { content: ""; display: inline-block; width: 40px; height: 40px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border: 1px solid #020944; border-radius: 50px; }

.search { display: flex; margin: 100px 0 0 0; }

@media (max-width: 500px) { .search { margin: 10% 0 0; } }

.search-input { padding: 3.5px 4px; width: 250px; background: #fff; border: 1px solid #e7e7e7; border-radius: 5px 0 0 5px; }

@media (max-width: 500px) { .search-input { padding: 5%; width: 100%; } }

.search-btn { position: relative; width: 40px; height: 40px; background: #3c52f6; border-radius: 0 5px 5px 0; }

@media (max-width: 500px) { .search-btn { width: 64px; height: 54px; } }

.search-btn::before { content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: inline-block; width: 22px; height: 22px; border-radius: 50px; border: 1px solid #fff; }

.search-btn::after { content: ""; position: absolute; bottom: 8px; right: 6px; display: inline-block; width: 8px; height: 1px; background: #fff; transform: rotate(45deg); }

html { font-size: 100%; }

img { max-width: 100%; height: auto; }

body { font-family: "Noto Serif JP", serif; letter-spacing: 0.1em; color: #020b55; }

@media (max-width: 500px) { body { overflow-x: hidden; } }

.pc-only { display: block; }

@media (max-width: 500px) { .pc-only { display: none; } }

.sp-only { display: none; }

@media (max-width: 500px) { .sp-only { display: block; } }

.inner { max-width: 1280px; margin: 0 auto; padding: 80px 30px; }

@media (max-width: 500px) { .inner { width: 95%; padding: 40px 5px; } }

.logo { width: 100px; }

.col-2__inner { display: flex; justify-content: space-between; padding: 80px 40px; }

@media (max-width: 500px) { .col-2__inner { flex-direction: column; padding: 0; } }

.main-column { max-width: 980px; }

@media (max-width: 500px) { .main-column { padding: 10% 0 0; width: 100%; } }

.main-column__cta { text-align: center; }

.main-column__ttl { position: relative; display: inline-block; padding: 0px 0 5px; font-weight: 800; font-size: 32px; line-height: 1.4; letter-spacing: 0.04em; color: #010b72; text-align: center; z-index: 2; }

@media (max-width: 500px) { .main-column__ttl { font-size: 24px; } }

.main-column__btn { display: block; margin: 10px auto 20px; padding: 16px 70px; width: 340px; position: relative; background: #020b55; color: #fff; box-shadow: 0px 0px 10px #b0b0b1; font-weight: 800; font-size: 16px; border-radius: 50px; transition: 0.5s; }

@media (max-width: 500px) { .main-column__btn { margin: 2% auto; padding: 4%; width: 90%; } }

.main-column__btn::before, .main-column__btn::after { content: ""; display: inline-block; height: 1px; background: #fff; position: absolute; transition: 0.5s; }

.main-column__btn::before { width: 30px; top: 30px; right: 40px; }

@media (max-width: 500px) { .main-column__btn::before { right: 10%; } }

.main-column__btn::after { content: ""; width: 10px; top: 26px; right: 38px; transform: rotate(45deg); }

@media (max-width: 500px) { .main-column__btn::after { right: 10%; } }

.main-column__btn:hover, .main-column__btn:focus { background: #fff; color: #020b55; transition: 0.5s; }

.main-column__btn:hover::before, .main-column__btn:hover::after, .main-column__btn:focus::before, .main-column__btn:focus::after { right: 30px; background: #020b55; transition: 0.5s; }

@media (max-width: 500px) { .main-column__btn:hover::before, .main-column__btn:hover::after, .main-column__btn:focus::before, .main-column__btn:focus::after { right: 12%; } }

.mv { background: #ccc; }

.mv .page-ttl { font-size: 40px; color: #fff; }

.sec-ttl { display: inline-block; background: linear-gradient(-45deg, #d6aaee, #969fed); background: -webkit-linear-gradient(0deg, #d6aaee, #969fed); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-family: "Dancing Script", cursive; font-weight: 900; font-size: 70px; position: relative; }

@media (max-width: 500px) { .sec-ttl { position: absolute; left: 50%; transform: translateX(-50%); font-size: 48px; } }

.sec-ttl:after { content: ""; display: inline-block; width: 500px; height: 1px; background: linear-gradient(0deg, #cd98ea, #6b78f3); position: absolute; top: 55%; left: 220px; box-shadow: 0 0 10px #cd98ea; }

@media (max-width: 500px) { .sec-ttl:after { display: none; } }

.eyecatch { background: url(../images/mv_pc02.png) no-repeat top/cover; }

@media (max-width: 500px) { .eyecatch { background: url(../images/mv_pc02.png) no-repeat 70%/cover; } }

.eyecatch__inner { max-width: 1280px; margin: 0 auto; padding: 80px 40px; }

@media (max-width: 500px) { .eyecatch__inner { width: 90%; padding: 10% 0; } }

.eyecatch__ttl { width: 820px; font-weight: 800; font-size: 28px; line-height: 2; color: #020b55; }

.eyecatch__ttl-mask { background: #fff; padding: 2px 10px; }

@media (max-width: 500px) { .eyecatch__ttl-mask { padding: 2px 0; line-height: 1.4; } }

@media (max-width: 500px) { .eyecatch__ttl { margin: 30% 0 0; width: 100%; font-size: 18px; } }

.eyecatch__btn { display: inline-block; margin: 30px 0 0 20px; padding: 20px 100px; position: relative; background: #020b55; color: #fff; box-shadow: 5px 5px 20px #525156; font-weight: 800; border-radius: 50px; transition: 0.5s; }

@media (max-width: 500px) { .eyecatch__btn { margin: 4% auto 0; padding: 4% 12% 4% 8%; font-size: 14px; } }

.eyecatch__btn::before, .eyecatch__btn::after { content: ""; display: inline-block; height: 1px; background: #fff; position: absolute; transition: 0.5s; }

.eyecatch__btn::before { width: 30px; top: 34px; right: 40px; }

@media (max-width: 500px) { .eyecatch__btn::before { width: 20px; top: 58%; right: 5%; } }

.eyecatch__btn::after { width: 10px; top: 30px; right: 38px; transform: rotate(45deg); }

@media (max-width: 500px) { .eyecatch__btn::after { top: 50%; right: 5%; } }

.eyecatch__btn:hover, .eyecatch__btn:focus { background: #fff; color: #020b55; transition: 0.5s; }

.eyecatch__btn:hover::before, .eyecatch__btn:hover::after, .eyecatch__btn:focus::before, .eyecatch__btn:focus::after { right: 30px; background: #020b55; transition: 0.5s; }

.card__list { display: flex; justify-content: flex-start; align-items: center; margin: 80px 0 0 0; }

@media (max-width: 500px) { .card__list { flex-direction: column; margin: 8% 0 0; } }

.card__item { margin: 0 20px 0 0; width: 260px; }

@media (max-width: 500px) { .card__item { width: 95%; margin: 8% 0 0; }
  .card__item:first-child { margin: 0 0 0; } }

.card__item:last-child { margin-right: 0; }

.card__img { background: #e7e7e7; height: 160px; }

@media (max-width: 500px) { .card__img { width: 100%; height: 200px; } }

.card__txt { margin: 12px 0 0 0; font-weight: 700; text-align: center; }

.post .sec-ttl:after { left: 300px; }

.post__inner { margin: 0 auto; padding: 0 40px 80px; }

.post__list { margin: 0px 0 0 0; }

.post__list .card__item { margin: 0 80px 0 0; width: 400px; }

@media (max-width: 500px) { .post__list .card__item { width: 100%; margin: 0; } }

.post__list .card__item:last-child { margin-right: 0; }

.post__list .card__img { height: 200px; }

@media (max-width: 500px) { .post__list .card__img { width: 100%; } }

.post__list.card__list { margin: 40px 0 0; }

html { font-size: 100%; }

img { max-width: 100%; height: auto; }

body { font-family: "Noto Serif JP", serif; letter-spacing: 0.1em; color: #020b55; }

@media (max-width: 500px) { body { overflow-x: hidden; } }

.pc-only { display: block; }

@media (max-width: 500px) { .pc-only { display: none; } }

.sp-only { display: none; }

@media (max-width: 500px) { .sp-only { display: block; } }

.inner { max-width: 1280px; margin: 0 auto; padding: 80px 30px; }

@media (max-width: 500px) { .inner { width: 95%; padding: 40px 5px; } }

.logo { width: 100px; }

.col-2__inner { display: flex; justify-content: space-between; padding: 80px 40px; }

@media (max-width: 500px) { .col-2__inner { flex-direction: column; padding: 0; } }

.main-column { max-width: 980px; }

@media (max-width: 500px) { .main-column { padding: 10% 0 0; width: 100%; } }

.main-column__cta { text-align: center; }

.main-column__ttl { position: relative; display: inline-block; padding: 0px 0 5px; font-weight: 800; font-size: 32px; line-height: 1.4; letter-spacing: 0.04em; color: #010b72; text-align: center; z-index: 2; }

@media (max-width: 500px) { .main-column__ttl { font-size: 24px; } }

.main-column__btn { display: block; margin: 10px auto 20px; padding: 16px 70px; width: 340px; position: relative; background: #020b55; color: #fff; box-shadow: 0px 0px 10px #b0b0b1; font-weight: 800; font-size: 16px; border-radius: 50px; transition: 0.5s; }

@media (max-width: 500px) { .main-column__btn { margin: 2% auto; padding: 4%; width: 90%; } }

.main-column__btn::before, .main-column__btn::after { content: ""; display: inline-block; height: 1px; background: #fff; position: absolute; transition: 0.5s; }

.main-column__btn::before { width: 30px; top: 30px; right: 40px; }

@media (max-width: 500px) { .main-column__btn::before { right: 10%; } }

.main-column__btn::after { content: ""; width: 10px; top: 26px; right: 38px; transform: rotate(45deg); }

@media (max-width: 500px) { .main-column__btn::after { right: 10%; } }

.main-column__btn:hover, .main-column__btn:focus { background: #fff; color: #020b55; transition: 0.5s; }

.main-column__btn:hover::before, .main-column__btn:hover::after, .main-column__btn:focus::before, .main-column__btn:focus::after { right: 30px; background: #020b55; transition: 0.5s; }

@media (max-width: 500px) { .main-column__btn:hover::before, .main-column__btn:hover::after, .main-column__btn:focus::before, .main-column__btn:focus::after { right: 12%; } }

.mv { background: #ccc; }

.mv .page-ttl { font-size: 40px; color: #fff; }

.sec-ttl { display: inline-block; background: linear-gradient(-45deg, #d6aaee, #969fed); background: -webkit-linear-gradient(0deg, #d6aaee, #969fed); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-family: "Dancing Script", cursive; font-weight: 900; font-size: 70px; position: relative; }

@media (max-width: 500px) { .sec-ttl { position: absolute; left: 50%; transform: translateX(-50%); font-size: 48px; } }

.sec-ttl:after { content: ""; display: inline-block; width: 500px; height: 1px; background: linear-gradient(0deg, #cd98ea, #6b78f3); position: absolute; top: 55%; left: 220px; box-shadow: 0 0 10px #cd98ea; }

@media (max-width: 500px) { .sec-ttl:after { display: none; } }

.eyecatch { background: url(../images/mv_pc02.png) no-repeat top/cover; }

@media (max-width: 500px) { .eyecatch { background: url(../images/mv_pc02.png) no-repeat 70%/cover; } }

.eyecatch__inner { max-width: 1280px; margin: 0 auto; padding: 80px 40px; }

@media (max-width: 500px) { .eyecatch__inner { width: 90%; padding: 10% 0; } }

.eyecatch__ttl { width: 820px; font-weight: 800; font-size: 28px; line-height: 2; color: #020b55; }

.eyecatch__ttl-mask { background: #fff; padding: 2px 10px; }

@media (max-width: 500px) { .eyecatch__ttl-mask { padding: 2px 0; line-height: 1.4; } }

@media (max-width: 500px) { .eyecatch__ttl { margin: 30% 0 0; width: 100%; font-size: 18px; } }

.eyecatch__btn { display: inline-block; margin: 30px 0 0 20px; padding: 20px 100px; position: relative; background: #020b55; color: #fff; box-shadow: 5px 5px 20px #525156; font-weight: 800; border-radius: 50px; transition: 0.5s; }

@media (max-width: 500px) { .eyecatch__btn { margin: 4% auto 0; padding: 4% 12% 4% 8%; font-size: 14px; } }

.eyecatch__btn::before, .eyecatch__btn::after { content: ""; display: inline-block; height: 1px; background: #fff; position: absolute; transition: 0.5s; }

.eyecatch__btn::before { width: 30px; top: 34px; right: 40px; }

@media (max-width: 500px) { .eyecatch__btn::before { width: 20px; top: 58%; right: 5%; } }

.eyecatch__btn::after { width: 10px; top: 30px; right: 38px; transform: rotate(45deg); }

@media (max-width: 500px) { .eyecatch__btn::after { top: 50%; right: 5%; } }

.eyecatch__btn:hover, .eyecatch__btn:focus { background: #fff; color: #020b55; transition: 0.5s; }

.eyecatch__btn:hover::before, .eyecatch__btn:hover::after, .eyecatch__btn:focus::before, .eyecatch__btn:focus::after { right: 30px; background: #020b55; transition: 0.5s; }

.card__list { display: flex; justify-content: flex-start; align-items: center; margin: 80px 0 0 0; }

@media (max-width: 500px) { .card__list { flex-direction: column; margin: 8% 0 0; } }

.card__item { margin: 0 20px 0 0; width: 260px; }

@media (max-width: 500px) { .card__item { width: 95%; margin: 8% 0 0; }
  .card__item:first-child { margin: 0 0 0; } }

.card__item:last-child { margin-right: 0; }

.card__img { background: #e7e7e7; height: 160px; }

@media (max-width: 500px) { .card__img { width: 100%; height: 200px; } }

.card__txt { margin: 12px 0 0 0; font-weight: 700; text-align: center; }

.home .mv { background: url(../images/mv_pc03.png) no-repeat 70%/cover; }

.home .mv__inner { position: relative; padding: 240px 0; }

@media (max-width: 500px) { .home .mv { overflow-x: hidden; padding: 100px 0; } }

html { font-size: 100%; }

img { max-width: 100%; height: auto; }

body { font-family: "Noto Serif JP", serif; letter-spacing: 0.1em; color: #020b55; }

@media (max-width: 500px) { body { overflow-x: hidden; } }

.pc-only { display: block; }

@media (max-width: 500px) { .pc-only { display: none; } }

.sp-only { display: none; }

@media (max-width: 500px) { .sp-only { display: block; } }

.inner { max-width: 1280px; margin: 0 auto; padding: 80px 30px; }

@media (max-width: 500px) { .inner { width: 95%; padding: 40px 5px; } }

.logo { width: 100px; }

.col-2__inner { display: flex; justify-content: space-between; padding: 80px 40px; }

@media (max-width: 500px) { .col-2__inner { flex-direction: column; padding: 0; } }

.main-column { max-width: 980px; }

@media (max-width: 500px) { .main-column { padding: 10% 0 0; width: 100%; } }

.main-column__cta { text-align: center; }

.main-column__ttl { position: relative; display: inline-block; padding: 0px 0 5px; font-weight: 800; font-size: 32px; line-height: 1.4; letter-spacing: 0.04em; color: #010b72; text-align: center; z-index: 2; }

@media (max-width: 500px) { .main-column__ttl { font-size: 24px; } }

.main-column__btn { display: block; margin: 10px auto 20px; padding: 16px 70px; width: 340px; position: relative; background: #020b55; color: #fff; box-shadow: 0px 0px 10px #b0b0b1; font-weight: 800; font-size: 16px; border-radius: 50px; transition: 0.5s; }

@media (max-width: 500px) { .main-column__btn { margin: 2% auto; padding: 4%; width: 90%; } }

.main-column__btn::before, .main-column__btn::after { content: ""; display: inline-block; height: 1px; background: #fff; position: absolute; transition: 0.5s; }

.main-column__btn::before { width: 30px; top: 30px; right: 40px; }

@media (max-width: 500px) { .main-column__btn::before { right: 10%; } }

.main-column__btn::after { content: ""; width: 10px; top: 26px; right: 38px; transform: rotate(45deg); }

@media (max-width: 500px) { .main-column__btn::after { right: 10%; } }

.main-column__btn:hover, .main-column__btn:focus { background: #fff; color: #020b55; transition: 0.5s; }

.main-column__btn:hover::before, .main-column__btn:hover::after, .main-column__btn:focus::before, .main-column__btn:focus::after { right: 30px; background: #020b55; transition: 0.5s; }

@media (max-width: 500px) { .main-column__btn:hover::before, .main-column__btn:hover::after, .main-column__btn:focus::before, .main-column__btn:focus::after { right: 12%; } }

.mv { background: #ccc; }

.mv .page-ttl { font-size: 40px; color: #fff; }

.sec-ttl { display: inline-block; background: linear-gradient(-45deg, #d6aaee, #969fed); background: -webkit-linear-gradient(0deg, #d6aaee, #969fed); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-family: "Dancing Script", cursive; font-weight: 900; font-size: 70px; position: relative; }

@media (max-width: 500px) { .sec-ttl { position: absolute; left: 50%; transform: translateX(-50%); font-size: 48px; } }

.sec-ttl:after { content: ""; display: inline-block; width: 500px; height: 1px; background: linear-gradient(0deg, #cd98ea, #6b78f3); position: absolute; top: 55%; left: 220px; box-shadow: 0 0 10px #cd98ea; }

@media (max-width: 500px) { .sec-ttl:after { display: none; } }

.eyecatch { background: url(../images/mv_pc02.png) no-repeat top/cover; }

@media (max-width: 500px) { .eyecatch { background: url(../images/mv_pc02.png) no-repeat 70%/cover; } }

.eyecatch__inner { max-width: 1280px; margin: 0 auto; padding: 80px 40px; }

@media (max-width: 500px) { .eyecatch__inner { width: 90%; padding: 10% 0; } }

.eyecatch__ttl { width: 820px; font-weight: 800; font-size: 28px; line-height: 2; color: #020b55; }

.eyecatch__ttl-mask { background: #fff; padding: 2px 10px; }

@media (max-width: 500px) { .eyecatch__ttl-mask { padding: 2px 0; line-height: 1.4; } }

@media (max-width: 500px) { .eyecatch__ttl { margin: 30% 0 0; width: 100%; font-size: 18px; } }

.eyecatch__btn { display: inline-block; margin: 30px 0 0 20px; padding: 20px 100px; position: relative; background: #020b55; color: #fff; box-shadow: 5px 5px 20px #525156; font-weight: 800; border-radius: 50px; transition: 0.5s; }

@media (max-width: 500px) { .eyecatch__btn { margin: 4% auto 0; padding: 4% 12% 4% 8%; font-size: 14px; } }

.eyecatch__btn::before, .eyecatch__btn::after { content: ""; display: inline-block; height: 1px; background: #fff; position: absolute; transition: 0.5s; }

.eyecatch__btn::before { width: 30px; top: 34px; right: 40px; }

@media (max-width: 500px) { .eyecatch__btn::before { width: 20px; top: 58%; right: 5%; } }

.eyecatch__btn::after { width: 10px; top: 30px; right: 38px; transform: rotate(45deg); }

@media (max-width: 500px) { .eyecatch__btn::after { top: 50%; right: 5%; } }

.eyecatch__btn:hover, .eyecatch__btn:focus { background: #fff; color: #020b55; transition: 0.5s; }

.eyecatch__btn:hover::before, .eyecatch__btn:hover::after, .eyecatch__btn:focus::before, .eyecatch__btn:focus::after { right: 30px; background: #020b55; transition: 0.5s; }

.card__list { display: flex; justify-content: flex-start; align-items: center; margin: 80px 0 0 0; }

@media (max-width: 500px) { .card__list { flex-direction: column; margin: 8% 0 0; } }

.card__item { margin: 0 20px 0 0; width: 260px; }

@media (max-width: 500px) { .card__item { width: 95%; margin: 8% 0 0; }
  .card__item:first-child { margin: 0 0 0; } }

.card__item:last-child { margin-right: 0; }

.card__img { background: #e7e7e7; height: 160px; }

@media (max-width: 500px) { .card__img { width: 100%; height: 200px; } }

.card__txt { margin: 12px 0 0 0; font-weight: 700; text-align: center; }

.feature { position: relative; }

@media (max-width: 500px) { .feature { padding: 10% 0; } }

.feature .sec-ttl { position: relative; background: linear-gradient(-45deg, #cd98ea, #6b78f3); background: -webkit-linear-gradient(0deg, #cd98ea, #6b78f3); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

.feature__txt { margin: 20px auto 0; font-size: 20px; line-height: 1.5; }

@media (max-width: 500px) { .feature__txt { font-size: 16px; } }

.feature__list-ttl { margin: 40px 0 0; display: inline-block; background: linear-gradient(-45deg, #cd98ea, #6b78f3); background: -webkit-linear-gradient(0deg, #cd98ea, #6b78f3); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-family: "Dancing Script", cursive; font-weight: 900; font-size: 36px; text-align: center; }

@media (max-width: 500px) { .feature__list-ttl { position: absolute; left: 50%; transform: translateX(-50%); font-size: 24px; } }

.feature__list { margin: 20px auto 0; }

@media (max-width: 500px) { .feature__list { margin: 20% auto 0; width: 95%; } }

.feature__item { display: inline-block; background: #020b55; color: #fff; margin: 2px 0 0; padding: 2px 5px; font-weight: bold; line-height: 1.8; }

html { font-size: 100%; }

img { max-width: 100%; height: auto; }

body { font-family: "Noto Serif JP", serif; letter-spacing: 0.1em; color: #020b55; }

@media (max-width: 500px) { body { overflow-x: hidden; } }

.pc-only { display: block; }

@media (max-width: 500px) { .pc-only { display: none; } }

.sp-only { display: none; }

@media (max-width: 500px) { .sp-only { display: block; } }

.inner { max-width: 1280px; margin: 0 auto; padding: 80px 30px; }

@media (max-width: 500px) { .inner { width: 95%; padding: 40px 5px; } }

.logo { width: 100px; }

.col-2__inner { display: flex; justify-content: space-between; padding: 80px 40px; }

@media (max-width: 500px) { .col-2__inner { flex-direction: column; padding: 0; } }

.main-column { max-width: 980px; }

@media (max-width: 500px) { .main-column { padding: 10% 0 0; width: 100%; } }

.main-column__cta { text-align: center; }

.main-column__ttl { position: relative; display: inline-block; padding: 0px 0 5px; font-weight: 800; font-size: 32px; line-height: 1.4; letter-spacing: 0.04em; color: #010b72; text-align: center; z-index: 2; }

@media (max-width: 500px) { .main-column__ttl { font-size: 24px; } }

.main-column__btn { display: block; margin: 10px auto 20px; padding: 16px 70px; width: 340px; position: relative; background: #020b55; color: #fff; box-shadow: 0px 0px 10px #b0b0b1; font-weight: 800; font-size: 16px; border-radius: 50px; transition: 0.5s; }

@media (max-width: 500px) { .main-column__btn { margin: 2% auto; padding: 4%; width: 90%; } }

.main-column__btn::before, .main-column__btn::after { content: ""; display: inline-block; height: 1px; background: #fff; position: absolute; transition: 0.5s; }

.main-column__btn::before { width: 30px; top: 30px; right: 40px; }

@media (max-width: 500px) { .main-column__btn::before { right: 10%; } }

.main-column__btn::after { content: ""; width: 10px; top: 26px; right: 38px; transform: rotate(45deg); }

@media (max-width: 500px) { .main-column__btn::after { right: 10%; } }

.main-column__btn:hover, .main-column__btn:focus { background: #fff; color: #020b55; transition: 0.5s; }

.main-column__btn:hover::before, .main-column__btn:hover::after, .main-column__btn:focus::before, .main-column__btn:focus::after { right: 30px; background: #020b55; transition: 0.5s; }

@media (max-width: 500px) { .main-column__btn:hover::before, .main-column__btn:hover::after, .main-column__btn:focus::before, .main-column__btn:focus::after { right: 12%; } }

.mv { background: #ccc; }

.mv .page-ttl { font-size: 40px; color: #fff; }

.sec-ttl { display: inline-block; background: linear-gradient(-45deg, #d6aaee, #969fed); background: -webkit-linear-gradient(0deg, #d6aaee, #969fed); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-family: "Dancing Script", cursive; font-weight: 900; font-size: 70px; position: relative; }

@media (max-width: 500px) { .sec-ttl { position: absolute; left: 50%; transform: translateX(-50%); font-size: 48px; } }

.sec-ttl:after { content: ""; display: inline-block; width: 500px; height: 1px; background: linear-gradient(0deg, #cd98ea, #6b78f3); position: absolute; top: 55%; left: 220px; box-shadow: 0 0 10px #cd98ea; }

@media (max-width: 500px) { .sec-ttl:after { display: none; } }

.eyecatch { background: url(../images/mv_pc02.png) no-repeat top/cover; }

@media (max-width: 500px) { .eyecatch { background: url(../images/mv_pc02.png) no-repeat 70%/cover; } }

.eyecatch__inner { max-width: 1280px; margin: 0 auto; padding: 80px 40px; }

@media (max-width: 500px) { .eyecatch__inner { width: 90%; padding: 10% 0; } }

.eyecatch__ttl { width: 820px; font-weight: 800; font-size: 28px; line-height: 2; color: #020b55; }

.eyecatch__ttl-mask { background: #fff; padding: 2px 10px; }

@media (max-width: 500px) { .eyecatch__ttl-mask { padding: 2px 0; line-height: 1.4; } }

@media (max-width: 500px) { .eyecatch__ttl { margin: 30% 0 0; width: 100%; font-size: 18px; } }

.eyecatch__btn { display: inline-block; margin: 30px 0 0 20px; padding: 20px 100px; position: relative; background: #020b55; color: #fff; box-shadow: 5px 5px 20px #525156; font-weight: 800; border-radius: 50px; transition: 0.5s; }

@media (max-width: 500px) { .eyecatch__btn { margin: 4% auto 0; padding: 4% 12% 4% 8%; font-size: 14px; } }

.eyecatch__btn::before, .eyecatch__btn::after { content: ""; display: inline-block; height: 1px; background: #fff; position: absolute; transition: 0.5s; }

.eyecatch__btn::before { width: 30px; top: 34px; right: 40px; }

@media (max-width: 500px) { .eyecatch__btn::before { width: 20px; top: 58%; right: 5%; } }

.eyecatch__btn::after { width: 10px; top: 30px; right: 38px; transform: rotate(45deg); }

@media (max-width: 500px) { .eyecatch__btn::after { top: 50%; right: 5%; } }

.eyecatch__btn:hover, .eyecatch__btn:focus { background: #fff; color: #020b55; transition: 0.5s; }

.eyecatch__btn:hover::before, .eyecatch__btn:hover::after, .eyecatch__btn:focus::before, .eyecatch__btn:focus::after { right: 30px; background: #020b55; transition: 0.5s; }

.card__list { display: flex; justify-content: flex-start; align-items: center; margin: 80px 0 0 0; }

@media (max-width: 500px) { .card__list { flex-direction: column; margin: 8% 0 0; } }

.card__item { margin: 0 20px 0 0; width: 260px; }

@media (max-width: 500px) { .card__item { width: 95%; margin: 8% 0 0; }
  .card__item:first-child { margin: 0 0 0; } }

.card__item:last-child { margin-right: 0; }

.card__img { background: #e7e7e7; height: 160px; }

@media (max-width: 500px) { .card__img { width: 100%; height: 200px; } }

.card__txt { margin: 12px 0 0 0; font-weight: 700; text-align: center; }

.col-2:nth-child(3) { background: #efefef; }

@media (max-width: 500px) { .merit { position: relative; padding: 5% 0 0; } }

@media (max-width: 500px) { .merit .sec-ttl { top: 0%; } }

.merit .sec-ttl:after { top: 55%; left: 180px; }

.merit__list { display: flex; flex-direction: column; margin: 60px 0 0; }

@media (max-width: 500px) { .merit__list { margin: 14% 0 0; } }

.merit__item { display: flex; justify-content: space-between; align-items: center; margin: 40px 0 0; }

@media (max-width: 500px) { .merit__item { flex-direction: column; } }

.merit__item:first-child { margin-top: 0; }

.merit__item:nth-child(even) { flex-direction: row-reverse; }

@media (max-width: 500px) { .merit__item:nth-child(even) { flex-direction: column; } }

.merit__text-area { width: 550px; }

@media (max-width: 500px) { .merit__text-area { width: 95%; } }

.merit__ttl-wrap { display: flex; justify-content: flex-start; align-items: center; }

@media (max-width: 500px) { .merit__ttl-wrap { flex-direction: column; justify-content: center; margin: 0 auto; width: 100%; } }

.merit__ttl { margin: 0 0 0 2%; font-weight: 800; font-size: 20px; letter-spacing: 0.01em; }

@media (max-width: 500px) { .merit__ttl { margin: 0; font-size: 20px; text-align: center; } }

.merit__num { font-size: 50px; display: inline-block; background: linear-gradient(45deg, #d36565, #3847ca); background: -webkit-linear-gradient(0deg, #d36565, #3847ca); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-weight: bold; font-family: "Dancing Script", cursive; }

@media (max-width: 500px) { .merit__num { font-size: 42px; } }

.merit__txt { margin: 16px 0 0; line-height: 1.8; }

@media (max-width: 500px) { .merit__txt { margin: 2% 0 0; } }

.merit__img-wrap { width: 260px; height: 160px; background: #fff; }

@media (max-width: 500px) { .merit__img-wrap { margin: 2% 0 0; width: 95%; height: 200px; } }

html { font-size: 100%; }

img { max-width: 100%; height: auto; }

body { font-family: "Noto Serif JP", serif; letter-spacing: 0.1em; color: #020b55; }

@media (max-width: 500px) { body { overflow-x: hidden; } }

.pc-only { display: block; }

@media (max-width: 500px) { .pc-only { display: none; } }

.sp-only { display: none; }

@media (max-width: 500px) { .sp-only { display: block; } }

.inner { max-width: 1280px; margin: 0 auto; padding: 80px 30px; }

@media (max-width: 500px) { .inner { width: 95%; padding: 40px 5px; } }

.logo { width: 100px; }

.col-2__inner { display: flex; justify-content: space-between; padding: 80px 40px; }

@media (max-width: 500px) { .col-2__inner { flex-direction: column; padding: 0; } }

.main-column { max-width: 980px; }

@media (max-width: 500px) { .main-column { padding: 10% 0 0; width: 100%; } }

.main-column__cta { text-align: center; }

.main-column__ttl { position: relative; display: inline-block; padding: 0px 0 5px; font-weight: 800; font-size: 32px; line-height: 1.4; letter-spacing: 0.04em; color: #010b72; text-align: center; z-index: 2; }

@media (max-width: 500px) { .main-column__ttl { font-size: 24px; } }

.main-column__btn { display: block; margin: 10px auto 20px; padding: 16px 70px; width: 340px; position: relative; background: #020b55; color: #fff; box-shadow: 0px 0px 10px #b0b0b1; font-weight: 800; font-size: 16px; border-radius: 50px; transition: 0.5s; }

@media (max-width: 500px) { .main-column__btn { margin: 2% auto; padding: 4%; width: 90%; } }

.main-column__btn::before, .main-column__btn::after { content: ""; display: inline-block; height: 1px; background: #fff; position: absolute; transition: 0.5s; }

.main-column__btn::before { width: 30px; top: 30px; right: 40px; }

@media (max-width: 500px) { .main-column__btn::before { right: 10%; } }

.main-column__btn::after { content: ""; width: 10px; top: 26px; right: 38px; transform: rotate(45deg); }

@media (max-width: 500px) { .main-column__btn::after { right: 10%; } }

.main-column__btn:hover, .main-column__btn:focus { background: #fff; color: #020b55; transition: 0.5s; }

.main-column__btn:hover::before, .main-column__btn:hover::after, .main-column__btn:focus::before, .main-column__btn:focus::after { right: 30px; background: #020b55; transition: 0.5s; }

@media (max-width: 500px) { .main-column__btn:hover::before, .main-column__btn:hover::after, .main-column__btn:focus::before, .main-column__btn:focus::after { right: 12%; } }

.mv { background: #ccc; }

.mv .page-ttl { font-size: 40px; color: #fff; }

.sec-ttl { display: inline-block; background: linear-gradient(-45deg, #d6aaee, #969fed); background: -webkit-linear-gradient(0deg, #d6aaee, #969fed); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-family: "Dancing Script", cursive; font-weight: 900; font-size: 70px; position: relative; }

@media (max-width: 500px) { .sec-ttl { position: absolute; left: 50%; transform: translateX(-50%); font-size: 48px; } }

.sec-ttl:after { content: ""; display: inline-block; width: 500px; height: 1px; background: linear-gradient(0deg, #cd98ea, #6b78f3); position: absolute; top: 55%; left: 220px; box-shadow: 0 0 10px #cd98ea; }

@media (max-width: 500px) { .sec-ttl:after { display: none; } }

.eyecatch { background: url(../images/mv_pc02.png) no-repeat top/cover; }

@media (max-width: 500px) { .eyecatch { background: url(../images/mv_pc02.png) no-repeat 70%/cover; } }

.eyecatch__inner { max-width: 1280px; margin: 0 auto; padding: 80px 40px; }

@media (max-width: 500px) { .eyecatch__inner { width: 90%; padding: 10% 0; } }

.eyecatch__ttl { width: 820px; font-weight: 800; font-size: 28px; line-height: 2; color: #020b55; }

.eyecatch__ttl-mask { background: #fff; padding: 2px 10px; }

@media (max-width: 500px) { .eyecatch__ttl-mask { padding: 2px 0; line-height: 1.4; } }

@media (max-width: 500px) { .eyecatch__ttl { margin: 30% 0 0; width: 100%; font-size: 18px; } }

.eyecatch__btn { display: inline-block; margin: 30px 0 0 20px; padding: 20px 100px; position: relative; background: #020b55; color: #fff; box-shadow: 5px 5px 20px #525156; font-weight: 800; border-radius: 50px; transition: 0.5s; }

@media (max-width: 500px) { .eyecatch__btn { margin: 4% auto 0; padding: 4% 12% 4% 8%; font-size: 14px; } }

.eyecatch__btn::before, .eyecatch__btn::after { content: ""; display: inline-block; height: 1px; background: #fff; position: absolute; transition: 0.5s; }

.eyecatch__btn::before { width: 30px; top: 34px; right: 40px; }

@media (max-width: 500px) { .eyecatch__btn::before { width: 20px; top: 58%; right: 5%; } }

.eyecatch__btn::after { width: 10px; top: 30px; right: 38px; transform: rotate(45deg); }

@media (max-width: 500px) { .eyecatch__btn::after { top: 50%; right: 5%; } }

.eyecatch__btn:hover, .eyecatch__btn:focus { background: #fff; color: #020b55; transition: 0.5s; }

.eyecatch__btn:hover::before, .eyecatch__btn:hover::after, .eyecatch__btn:focus::before, .eyecatch__btn:focus::after { right: 30px; background: #020b55; transition: 0.5s; }

.card__list { display: flex; justify-content: flex-start; align-items: center; margin: 80px 0 0 0; }

@media (max-width: 500px) { .card__list { flex-direction: column; margin: 8% 0 0; } }

.card__item { margin: 0 20px 0 0; width: 260px; }

@media (max-width: 500px) { .card__item { width: 95%; margin: 8% 0 0; }
  .card__item:first-child { margin: 0 0 0; } }

.card__item:last-child { margin-right: 0; }

.card__img { background: #e7e7e7; height: 160px; }

@media (max-width: 500px) { .card__img { width: 100%; height: 200px; } }

.card__txt { margin: 12px 0 0 0; font-weight: 700; text-align: center; }

.blog { position: relative; margin: 8% 0 0 0; }

@media (max-width: 500px) { .blog { margin: 0; padding: 20% 0 0; } }

.blog .sec-ttl { top: 4%; }

.blog .sec-ttl:after { top: 55%; left: 160px; }

.blog__list { margin: 4% 0 0 0; }

@media (max-width: 500px) { .blog__list { margin: 24% 0 0; } }

.blog__btn-area { margin: 6% 0 0 0; text-align: center; }

@media (max-width: 500px) { .blog__btn-area { margin: 10%; } }

.blog__btn { padding: 10px 100px; background: #fff; border: 1px solid #dfdcdc; border-radius: 5px; }

.blog__btn .arrow { position: relative; left: 45px; width: 40px; height: 20px; }

.blog__btn .arrow::before { position: absolute; top: 60%; right: 0; content: ""; display: inline-block; width: 30px; height: 1px; background: #dfdcdc; }

.blog__btn .arrow::after { position: absolute; top: 41%; right: 0; content: ""; display: inline-block; width: 10px; height: 1px; transform: rotate(45deg); background: #dfdcdc; }

html { font-size: 100%; }

img { max-width: 100%; height: auto; }

body { font-family: "Noto Serif JP", serif; letter-spacing: 0.1em; color: #020b55; }

@media (max-width: 500px) { body { overflow-x: hidden; } }

.pc-only { display: block; }

@media (max-width: 500px) { .pc-only { display: none; } }

.sp-only { display: none; }

@media (max-width: 500px) { .sp-only { display: block; } }

.inner { max-width: 1280px; margin: 0 auto; padding: 80px 30px; }

@media (max-width: 500px) { .inner { width: 95%; padding: 40px 5px; } }

.logo { width: 100px; }

.col-2__inner { display: flex; justify-content: space-between; padding: 80px 40px; }

@media (max-width: 500px) { .col-2__inner { flex-direction: column; padding: 0; } }

.main-column { max-width: 980px; }

@media (max-width: 500px) { .main-column { padding: 10% 0 0; width: 100%; } }

.main-column__cta { text-align: center; }

.main-column__ttl { position: relative; display: inline-block; padding: 0px 0 5px; font-weight: 800; font-size: 32px; line-height: 1.4; letter-spacing: 0.04em; color: #010b72; text-align: center; z-index: 2; }

@media (max-width: 500px) { .main-column__ttl { font-size: 24px; } }

.main-column__btn { display: block; margin: 10px auto 20px; padding: 16px 70px; width: 340px; position: relative; background: #020b55; color: #fff; box-shadow: 0px 0px 10px #b0b0b1; font-weight: 800; font-size: 16px; border-radius: 50px; transition: 0.5s; }

@media (max-width: 500px) { .main-column__btn { margin: 2% auto; padding: 4%; width: 90%; } }

.main-column__btn::before, .main-column__btn::after { content: ""; display: inline-block; height: 1px; background: #fff; position: absolute; transition: 0.5s; }

.main-column__btn::before { width: 30px; top: 30px; right: 40px; }

@media (max-width: 500px) { .main-column__btn::before { right: 10%; } }

.main-column__btn::after { content: ""; width: 10px; top: 26px; right: 38px; transform: rotate(45deg); }

@media (max-width: 500px) { .main-column__btn::after { right: 10%; } }

.main-column__btn:hover, .main-column__btn:focus { background: #fff; color: #020b55; transition: 0.5s; }

.main-column__btn:hover::before, .main-column__btn:hover::after, .main-column__btn:focus::before, .main-column__btn:focus::after { right: 30px; background: #020b55; transition: 0.5s; }

@media (max-width: 500px) { .main-column__btn:hover::before, .main-column__btn:hover::after, .main-column__btn:focus::before, .main-column__btn:focus::after { right: 12%; } }

.mv { background: #ccc; }

.mv .page-ttl { font-size: 40px; color: #fff; }

.sec-ttl { display: inline-block; background: linear-gradient(-45deg, #d6aaee, #969fed); background: -webkit-linear-gradient(0deg, #d6aaee, #969fed); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-family: "Dancing Script", cursive; font-weight: 900; font-size: 70px; position: relative; }

@media (max-width: 500px) { .sec-ttl { position: absolute; left: 50%; transform: translateX(-50%); font-size: 48px; } }

.sec-ttl:after { content: ""; display: inline-block; width: 500px; height: 1px; background: linear-gradient(0deg, #cd98ea, #6b78f3); position: absolute; top: 55%; left: 220px; box-shadow: 0 0 10px #cd98ea; }

@media (max-width: 500px) { .sec-ttl:after { display: none; } }

.eyecatch { background: url(../images/mv_pc02.png) no-repeat top/cover; }

@media (max-width: 500px) { .eyecatch { background: url(../images/mv_pc02.png) no-repeat 70%/cover; } }

.eyecatch__inner { max-width: 1280px; margin: 0 auto; padding: 80px 40px; }

@media (max-width: 500px) { .eyecatch__inner { width: 90%; padding: 10% 0; } }

.eyecatch__ttl { width: 820px; font-weight: 800; font-size: 28px; line-height: 2; color: #020b55; }

.eyecatch__ttl-mask { background: #fff; padding: 2px 10px; }

@media (max-width: 500px) { .eyecatch__ttl-mask { padding: 2px 0; line-height: 1.4; } }

@media (max-width: 500px) { .eyecatch__ttl { margin: 30% 0 0; width: 100%; font-size: 18px; } }

.eyecatch__btn { display: inline-block; margin: 30px 0 0 20px; padding: 20px 100px; position: relative; background: #020b55; color: #fff; box-shadow: 5px 5px 20px #525156; font-weight: 800; border-radius: 50px; transition: 0.5s; }

@media (max-width: 500px) { .eyecatch__btn { margin: 4% auto 0; padding: 4% 12% 4% 8%; font-size: 14px; } }

.eyecatch__btn::before, .eyecatch__btn::after { content: ""; display: inline-block; height: 1px; background: #fff; position: absolute; transition: 0.5s; }

.eyecatch__btn::before { width: 30px; top: 34px; right: 40px; }

@media (max-width: 500px) { .eyecatch__btn::before { width: 20px; top: 58%; right: 5%; } }

.eyecatch__btn::after { width: 10px; top: 30px; right: 38px; transform: rotate(45deg); }

@media (max-width: 500px) { .eyecatch__btn::after { top: 50%; right: 5%; } }

.eyecatch__btn:hover, .eyecatch__btn:focus { background: #fff; color: #020b55; transition: 0.5s; }

.eyecatch__btn:hover::before, .eyecatch__btn:hover::after, .eyecatch__btn:focus::before, .eyecatch__btn:focus::after { right: 30px; background: #020b55; transition: 0.5s; }

.card__list { display: flex; justify-content: flex-start; align-items: center; margin: 80px 0 0 0; }

@media (max-width: 500px) { .card__list { flex-direction: column; margin: 8% 0 0; } }

.card__item { margin: 0 20px 0 0; width: 260px; }

@media (max-width: 500px) { .card__item { width: 95%; margin: 8% 0 0; }
  .card__item:first-child { margin: 0 0 0; } }

.card__item:last-child { margin-right: 0; }

.card__img { background: #e7e7e7; height: 160px; }

@media (max-width: 500px) { .card__img { width: 100%; height: 200px; } }

.card__txt { margin: 12px 0 0 0; font-weight: 700; text-align: center; }

.footer { background: #333; }

.footer .inner { max-width: 1280px; margin: 0 auto; padding: 20px 30px 10px; text-align: center; }

@media (max-width: 500px) { .footer .inner { width: 100%; padding: 20px 10px; } }

.footer .inner .copyright { margin: 30px 0 0 0; font-size: 10px; color: #fff; }

.footer__logo { display: block; margin: 0 auto; width: 120px; }

.footer .f-nav__list { display: flex; justify-content: space-between; align-items: center; margin: 24px auto 0; max-width: 560px; }

@media (max-width: 500px) { .footer .f-nav__list { width: 90%; flex-wrap: wrap; } }

.footer .f-nav__item { margin: 0 20px 0 0; color: #fff; }

@media (max-width: 500px) { .footer .f-nav__item { margin: 0; } }

.footer .f-nav__item:last-child { margin-right: 0; }
