.header { position: fixed; top: 0; width: 100%; background: linear-gradient(-45deg, #eed3fd, #d7dbfc); }

.header__inner { display: flex; justify-content: space-between; align-items: center; padding: 1% 4%; }

.g-nav { width: 50%; }

.g-nav__list { display: flex; justify-content: flex-end; width: 100%; }

.g-nav__item { margin: 0 2% 0 0; color: #fff; text-shadow: 0px 0px 30px #56038e; }

.g-nav__item:last-child { margin-right: 0; }

.side-bar { width: 25%; }

.side-bar .profile { padding: 12% 10%; box-shadow: 2px 2px 10px #e7e7e7; }

.side-bar .profile__img-wrap { width: 200px; height: 200px; margin: 0 auto; }

.side-bar .profile__thumnail { border-radius: 100px; }

.side-bar .profile__text-area { text-align: center; }

.side-bar .profile__ttl { margin: 4% 0 0 0; font-weight: 700; font-size: 24px; }

.side-bar .profile__lead { margin: 1% 0 0 0; }

.side-bar .profile__txt { margin: 8% 0 0 0; line-height: 1.7; text-align: left; }

.side-bar .profile-btn-area { margin: 10% auto 0; text-align: center; }

.side-bar .profile-btn { padding: 2% 6%; background: #051276; color: #fff; border-radius: 5px; }

.side-bar .profile .sns-logo { position: relative; margin: 20% auto 0; width: 10%; }

.side-bar .profile .sns-logo::before { content: ""; display: inline-block; width: 40px; height: 40px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border: 1px solid #020944; border-radius: 50px; }

.search { display: flex; margin: 10% 0 0 0; }

.search-input { padding: 3.5% 2%; width: 250px; border: 1px solid #e7e7e7; }

.search-btn { position: relative; width: 40px; height: 40px; background: #3c52f6; }

.search-btn::before { content: ""; position: absolute; top: 18%; left: 18%; display: inline-block; width: 24px; height: 24px; border-radius: 50px; border: 1px solid #fff; }

.search-btn::after { content: ""; position: absolute; bottom: 20%; right: 10%; display: inline-block; width: 10px; height: 1px; background: #fff; transform: rotate(45deg); }

.post .sec-ttl { font-weight: 900; font-size: 32px; }

.post__inner { margin: 0 auto; padding: 0 4%; }

.post__list { margin: 2% 0 0 0; }

.post__list .card__img { height: 220px; }

.footer { margin: 6% 0 0 0; background: #ccc; }

.footer .inner { max-width: 1280px; margin: 0 auto; padding: 2% 4% 1%; text-align: center; }

.footer .inner .copyright { margin: 3% 0 0 0; font-size: 10px; color: #fff; }

.footer__logo { display: block; margin: 0 auto; width: 10%; }

.footer .f-nav__list { display: flex; justify-content: space-between; align-items: center; margin: 3% auto 0; width: 60%; }

.footer .f-nav__item { margin: 0 2% 0 0; color: #fff; }

.footer .f-nav__item:last-child { margin-right: 0; }

.voice .mv { margin-top: 4%; background: url(../images/mv_pc02.png) no-repeat center/cover; height: 70vh; }

.voice .main__column { width: 75%; }
