@charset 'UTF-8';

@import "base/variable";
@import "page/header";
@import "page/side-bar";
@import "page/post";
@import "page/footer";

.voice {
  .mv {
    margin-top: 4%;
    background: url(../images/mv_pc02.png) no-repeat center/cover;
    height: 70vh;
  }
  .main__column {
    width: 75%;
  }
}
