@import "../common.scss";
.home {
  .mv {
    background: url(../images/mv_pc03.png) no-repeat 70% / cover;
    &__inner {
      position: relative;
      padding: 240px 0;
    }
    @include sp {
      overflow-x: hidden;
      padding: 100px 0;
    }
  }
  .hero {
  }
}
