@import "../common.scss";
.side-bar {
  max-width: 300px;
  @include sp {
    max-width: 95%;
    margin: 0 auto;
    padding: 0 0 10% 0;
  }
  .profile {
    padding: 40px 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #e7e7e7;
    @include sp {
      width: 100%;
      padding: 10% 5%;
    }
    &__img-wrap {
      width: 200px;
      height: 200px;
      margin: 0 auto;
    }
    &__thumnail {
      border-radius: 100px;
    }
    &__text-area {
      text-align: center;
    }
    &__ttl {
      margin: 30px 0 0 0;
      font-weight: 700;
      font-size: 24px;
    }
    &__lead {
      margin: 10px 0 0 0;
    }
    &__txt {
      margin: 30px 0 0 0;
      line-height: 1.7;
      text-align: left;
    }
    &-btn-area {
      margin: 40px auto 0;
      text-align: center;
    }
    &-btn {
      padding: 8px 20px;
      background: #051276;
      color: #fff;
      border-radius: 5px;
    }
    .sns-logo {
      position: relative;
      margin: 40px auto 0;
      width: 24px;
      &::before {
        content: "";
        display: inline-block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #020944;
        border-radius: 50px;
      }
    }
  }
}
.search {
  display: flex;
  margin: 100px 0 0 0;
  @include sp {
    margin: 10% 0 0;
  }
  &-input {
    padding: 3.5px 4px;
    width: 250px;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 5px 0 0 5px;
    @include sp {
      padding: 5%;
      width: 100%;
    }
  }
  &-btn {
    position: relative;
    width: 40px;
    height: 40px;
    background: #3c52f6;
    border-radius: 0 5px 5px 0;
    @include sp {
      width: 64px;
      height: 54px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 22px;
      height: 22px;
      border-radius: 50px;
      border: 1px solid #fff;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 8px;
      right: 6px;
      display: inline-block;
      width: 8px;
      height: 1px;
      background: #fff;
      transform: rotate(45deg);
    }
  }
}
